#requirements.txt
####################################################################################

#backend
fastapi
uvicorn[standard]

####################################################################################

#database

sqlalchemy

####################################################################################

#LLM

cohere
langchain-cohere

langchain
langgraph


#computer-vision
opencv-python
onnxruntime

####################################################################################

#coding
# ruff
# black 
# isort
# mypy
# pre-commit