fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
python-dotenv
SQLAlchemy
psycopg[binary]
alembic
numpy
Pillow
opencv-python
onnxruntime
httpx
websockets

langchain-core
langchain-cohere
langgraph
cohere
